<div class="top-header container-fluid bg-primary ">
  <div class="heading-container">
    <h1 class="abdullahinur">ABDULLAHINUR</h1>
    <h1 class="abdullahi">ABDULLAHI</h1>
    <h1 class="web-developer">WEB DEVELOPER</h1>
    <h1 class="nairobi">NAIROBI, KE</h1>
    <div class="my-svg">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 800 804.62" style="enable-background:new 0 0 800 804.62;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #22B573;
          }

          .st1 {
            fill: none;
          }

        </style>
        <g id="star">
          <polygon class="st0" points="400,31.92 507.18,4.62 586.35,81.85 692.82,111.8 722.77,218.27 800,297.44 772.7,404.62 800,511.8 
       722.77,590.97 692.82,697.44 586.35,727.38 507.18,804.62 400,777.32 292.82,804.62 213.65,727.38 107.18,697.44 77.23,590.97 
       0,511.8 27.3,404.62 0,297.44 77.23,218.27 107.18,111.8 213.65,81.85 292.82,4.62 	" />
        </g>
        <g id="text">
          <path id="SVGID_x5F_1_x5F_" class="st1" d="M346.53,108.97c163.03-29.53,319.13,78.7,348.66,241.73
       c29.53,163.03-78.7,319.13-241.73,348.66c-163.03,29.53-319.13-78.7-348.66-241.73S183.5,138.5,346.53,108.97z" />
          <text>
            <textPath xlink:href="#SVGID_x5F_1_x5F_" startOffset="20%">
              <tspan
                style="fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10; font-family:'MyriadPro-Regular'; font-size:59px;">
                This isn’t some special text</tspan>
            </textPath>
          </text>
        </g>
      </svg>


    </div>
  </div>


  <ngx-parallax-scroll [config]="innerHeaderContainer">
    <div class="inner-header bg-secondary">
      <img src="../../assets/profile/profile.jpg" class="img-fluid rounded p-3" alt="">
      <div class="text-left">
        <!-- AVATAR CONTENT -->
        <p class="text-white">Hi, I am Abdullahi, I am a creative full stack <span class="text-primary">Web
            Developer</span> with a focus on unorthodox web principles and made up terms like "box-model fluidity". I
          like
          to design and build interactive websites and applications to better engage your customers with your brand.
        </p>
        <p class="text-white">I take various web principles such as dynamic content, responsive webpages with butterey
          smooth animations that keep your users engaged and connected with your brand.
        </p>
        <p class="text-white"> <span class="text-primary">Or</span> If you feel like reaching out to talk, discuss code,
          new ventures or even your favorite flavor of <span class="text-primary">Doughnut</span> I'd be happy to oblige
          :) </p>
      </div>
      <hr class="bg-primary w-75 mx-auto my-5">
    </div>
  </ngx-parallax-scroll>
  <nav class="navbar navbar-expand  m-0">
    <div class="nav navbar-nav mx-auto">
      <a class="nav-item nav-link active" [ngxScrollTo]="'#destination'" [ngxScrollToOffset]="60">Projects</a> </div>

  </nav>


  <div class="trigger-1"></div>
</div>
