@import "../../styles.scss";

//Start with mobile view
.top-header {
  text-align: center;
  padding: 0;

  h1 {
    color: #fff;
    font-size: 2.6rem;
    line-height: 0.7;
    font-weight: 600;
  }

  .heading-container {
    margin: 9vh auto;

    .web-developer {
      font-size: 2.4rem;
    }
  }

  .navbar {
    background-color: $slate-gray;
    border-top: 1px solid white;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .nav-link {
    color: #fff;
  }

  .my-svg {
    margin-top: 1rem;
    overflow: hidden;
    position: relative;



  }



}


.inner-header {

  padding-bottom: 2rem;
  opacity: 0.8;

  .text-left {
    opacity: 1 !important;
    padding: 1rem 1.5rem;
  }

  img {
    filter: grayscale(100%) !important;
    opacity: 0.7;
  }
}



// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {

  .heading-container {
    margin: 20rem auto;
  }
}

// For annoying Iphones
@media (min-width: 576px),
(min-height: 800px) {

  .heading-container {
    margin: 3rem 0rem 12rem 0rem !important;
  }

  .my-svg {
    margin-top: 5rem !important;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .top-header {


    h1 {
      font-weight: 900;
      font-size: 6rem;
    }

    .web-developer {
      font-size: 5rem !important;
    }

    .my-svg {
      display: none;
    }

    .heading-container {
      margin-bottom: -2rem !important;
    }
  }

  .inner-header {
    padding-bottom: 2rem;
    width: 60%;
    margin: 0rem auto 18rem auto;

    p {
      font-size: 1.2rem;
    }

  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .top-header {


    h1 {
      font-weight: 900;
      font-size: 8rem;
    }

    .web-developer {
      font-size: 7rem !important;
    }

    .my-svg {
      display: none;
    }

    .heading-container {
      margin-bottom: -2rem !important;
    }
  }

  .inner-header {
    p {
      font-size: 1.5rem;
    }

  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
