<div class="top-header container-fluid bg-primary ">
  <div class="heading-container">
    <h1 class="abdullahinur">ABDULLAHINUR</h1>
    <h1 class="abdullahi">ABDULLAHI</h1>
    <h1 class="web-developer">WEB DEVELOPER</h1>
    <h1 class="nairobi">NAIROBI, KE</h1>

  </div>


  <ngx-parallax-scroll [config]="innerHeaderContainer">
    <div class="inner-header bg-secondary">
      <img src="../../assets/profile/profile.jpg" class="img-fluid rounded p-3" alt="">
      <div class="text-left">
        <!-- AVATAR CONTENT -->
        <p class="text-white">Hi, I am Abdullahi, I am a creative full stack <span class="text-primary">Web
            Developer</span> with a focus on unorthodox web principles and made up terms like "box-model fluidity". I
          like
          to design and build interactive websites and applications to better engage your customers with your brand.
        </p>
        <p class="text-white">I take various web principles such as dynamic content, responsive webpages with butterey
          smooth animations that keep your users engaged and connected with your brand.
        </p>
        <p class="text-white"> <span class="text-primary">Or</span> If you feel like reaching out to talk, discuss code,
          new ventures or even your favorite flavor of <span class="text-primary">Doughnut</span> I'd be happy to oblige
          :) </p>
      </div>
      <hr class="bg-primary w-75 mx-auto my-5">
    </div>
  </ngx-parallax-scroll>
  <nav class="navbar navbar-expand  m-0">
    <div class="nav navbar-nav mx-auto">
      <a class="nav-item nav-link active" [ngxScrollTo]="'#destination'" [ngxScrollToOffset]="-10">Projects</a> </div>

  </nav>


  <div class="trigger-1"></div>
</div>
