<div class="top-header container-fluid bg-primary ">
  <div class="heading-container">
    <h1 class="abdullahinur">ABDULLAHINUR</h1>
    <h1 class="abdullahi">ABDULLAHI</h1>
    <h1 class="web-developer">WEB DEVELOPER</h1>
    <h1 class="nairobi">NAIROBI, KE</h1>
    <div class="my-svg">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 250.4 243" style="enable-background:new 0 0 250.4 243;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #52FFB8;
          }

          .st1 {
            fill: #625757;
          }

          .st2 {
            fill: none;
          }

        </style>
        <g id="Green_Star">
          <polygon class="st0" points="124.8,30.5 155.9,4.6 169.8,42.5 209.7,35.6 202.8,75.5 240.7,89.4 214.8,120.5 240.7,151.5 
       202.8,165.5 209.7,205.3 169.8,198.4 155.9,236.4 124.8,210.5 93.8,236.4 79.8,198.4 40,205.3 46.9,165.5 8.9,151.5 34.8,120.5 
       8.9,89.4 46.9,75.5 40,35.6 79.8,42.5 93.8,4.6 	" />
        </g>
        <g id="Star">
          <polygon class="st1" points="124.8,56 147.1,37.5 157.1,64.7 185.6,59.7 180.6,88.3 207.8,98.2 189.3,120.5 207.8,142.7 
       180.6,152.7 185.6,181.2 157.1,176.3 147.1,203.5 124.8,184.9 102.6,203.5 92.6,176.3 64.1,181.2 69,152.7 41.8,142.7 60.4,120.5 
       41.8,98.2 69,88.3 64.1,59.7 92.6,64.7 102.6,37.5 	" />
        </g>
        <g id="Flower">
          <g>
            <g>
              <g>
                <g>
                  <path class="st0" d="M144.5,152.2c0.9-5,0.6-9.8-0.7-14c-0.6-2.1-1.5-4.1-2.5-5.9c-1.1-1.8-2.3-3.4-3.7-4.8
               c-0.2,0.6-0.6,1.1-0.9,1.7c-0.4,0.5-0.7,1.1-1.2,1.5c-0.8,1-1.9,1.8-2.9,2.5c-2.2,1.4-4.7,2.1-7.3,2.1
               c1.3,3.7,3.6,7.3,6.9,10.3C135.4,148.4,139.6,150.9,144.5,152.2z" />
                </g>
                <g>
                  <path class="st0" d="M94.5,140.8c5,0.9,9.8,0.6,14-0.7c2.1-0.6,4.1-1.5,5.9-2.5c1.8-1.1,3.4-2.3,4.8-3.7
               c-0.6-0.2-1.1-0.6-1.7-0.9c-0.5-0.4-1.1-0.7-1.5-1.2c-1-0.8-1.8-1.9-2.5-2.9c-1.4-2.2-2.1-4.7-2.1-7.3
               c-3.7,1.3-7.3,3.6-10.3,6.9C98.3,131.7,95.8,136,94.5,140.8z" />
                </g>
                <g>
                  <path class="st0" d="M105.9,90.8c-0.9,5-0.6,9.8,0.7,14c0.6,2.1,1.5,4.1,2.5,5.9c1.1,1.8,2.3,3.4,3.7,4.8
               c0.2-0.6,0.6-1.1,0.9-1.7c0.4-0.5,0.7-1.1,1.2-1.5c0.8-1,1.9-1.8,2.9-2.5c2.2-1.4,4.7-2.1,7.3-2.1c-1.3-3.7-3.6-7.3-6.9-10.3
               C115,94.6,110.7,92.2,105.9,90.8z" />
                </g>
                <g>
                  <path class="st0" d="M155.9,102.2c-5-0.9-9.8-0.6-14,0.7c-2.1,0.6-4.1,1.5-5.9,2.5c-1.8,1.1-3.4,2.3-4.8,3.7
               c0.6,0.2,1.1,0.6,1.7,0.9c0.5,0.4,1.1,0.7,1.5,1.2c1,0.8,1.8,1.9,2.5,2.9c1.4,2.2,2.1,4.7,2.1,7.3c3.7-1.3,7.3-3.6,10.3-6.9
               C152.1,111.3,154.5,107.1,155.9,102.2z" />
                </g>
              </g>
            </g>
          </g>
          <circle class="st0" cx="125.2" cy="121.5" r="8.7" />
        </g>
        <g id="Text">
          <path id="SVGID_x5F_1_x5F_" class="st2"
            d="M192.2,121.5c0,37-30,67-67,67s-67-30-67-67s30-67,67-67S192.2,84.5,192.2,121.5z" />
          <text>
            <textPath xlink:href="#SVGID_x5F_1_x5F_" startOffset="1%">
              <tspan style="fill:none; font-family:'Helvetica'; font-size:12px; font-weight: 900;">Sometimes Things
                Can Move On their
                Own.</tspan>
            </textPath>
          </text>
        </g>
      </svg>

    </div>
  </div>


  <div class="inner-header bg-secondary rellax" data-rellax-speed="7" data-rellax-xs-speed="0"
    data-rellax-mobile-speed="0" data-rellax-tablet-speed="-4" data-rellax-desktop-speed="5" data-rellax-zindex="-1">
    <img src="../../assets/profile/profile.jpg" class="img-fluid rounded p-3" alt="">
    <div class="text-left">
      <!-- AVATAR CONTENT -->
      <p class="text-white">Hi, I am Abdullahi, I am a creative full stack <span class="text-primary">Web
          Developer</span> with a focus on unorthodox web principles and made up terms like "box-model fluidity". I
        like
        to design and build interactive websites and applications to better engage your customers with your brand.
      </p>
      <p class="text-white">I take various web principles such as dynamic content, responsive webpages with butterey
        smooth animations that keep your users engaged and connected with your brand.
      </p>
      <p class="text-white"> <span class="text-primary">Or</span> If you feel like reaching out to talk, discuss code,
        new ventures or even your favorite flavor of <span class="text-primary">Doughnut</span> I'd be happy to oblige
        :) </p>

    </div>
    <hr class="bg-primary w-75 mx-auto my-5">
  </div>

  <nav class="navbar navbar-expand ">
    <div class="nav navbar-nav mx-auto">
      <a name="" id="" class="btn btn-lg btn-secondary" [ngxScrollTo]="'#destination'" [ngxScrollToOffset]="60"
        role="button">Projects</a>
    </div>

  </nav>


</div>
<div class="trigger-1"></div>
