@import '../../styles.scss';

.container {
  margin-top: 10rem;
  margin-bottom: 10rem;


  .projects-title {
    margin-bottom: 5rem;
  }
}


.green-box {
  display: none;
  height: 200px;
  width: 400px;
  background-color: $aqua-green;
}

.green-box-1 {
  height: 35vh;
  background: url('../../assets/projects/abblog.png') no-repeat center;
  background-size: cover;
  margin-bottom: 2rem;
}

.green-box-2 {
  height: 35vh;
  background: url('../../assets/projects/abtodo.png') no-repeat center;
  background-size: cover;
  margin-bottom: 2rem;
}

.project-1 {
  position: relative;
  top: 30rem;
  text-align: center;
  overflow: hidden;
  margin: 0;
  z-index: 0;

}

.project-2 {
  position: relative;
  top: 65rem;
  text-align: center;
  overflow: hidden;
  margin: 0;
  z-index: 0;

}

a:hover {
  text-decoration: none !important;

}

a small {
  font-size: 1.2rem;
  color: $aqua-green;
  font-weight: 900 !important;
}

a small:hover {

  color: $slate-gray;
}

.add-z-index {
  position: relative;
  top: 15rem;
  z-index: -1;
}




// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .green-box-1 {
    height: 30vh;

  }

  .green-box-2 {
    height: 30vh;

  }

  .project-1 {
    text-align: center;
  }


  .project-2 {
    text-align: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .green-box-1 {
    height: 30vh;
    margin-top: 2rem;
  }

  .center-ipad {
    position: relative;
    margin: auto
  }


  .project-1 {

    top: 35rem;
  }


  .project-2 {

    top: 70rem;
  }


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .projects {
    height: 115vh;
  }

  .project-1 {
    text-align: left;
    top: 80rem;

  }

  .project-2 {
    text-align: left;
    top: 130rem;

  }
}



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .projects {
    height: 115%;
  }

  .green-box-1 {
    height: 70vh;
  }

  .green-box-2 {
    height: 70vh;
  }

  .projects-title {
    font-size: 5rem;

  }

  .project-1 {
    top: 60rem;
  }

  .project-2 {
    text-align: right;
    top: 105rem;
  }

  .center-ipad {

    margin: inherit;
  }


}

@media (min-width: 1366px) {
  .projects {
    height: 115%;
  }
}
