<div class="container">
  <h1 class="text-center display-4 projects-title text-primary" id="projects">Projects</h1>

  <ngx-parallax-scroll [config]="projectConfig" class="add-z-index">
    <div class="row my-5 project-1">
      <div class="col-lg-8">
        <div class="green-box-1"></div>
      </div>

      <div class="col-sm-4">
        <h3 class="font-italic text-primary">Ab Log:</h3>
        <hr class="bg-primary ">
        <p>1. Python</p>
        <p>2. Django</p>
        <p>3. Postgres</p>
        <p>4. Heroku</p>
        <a href="https://boiling-sierra-29856.herokuapp.com/"><small>Link to Project</small></a>
      </div>
    </div>
  </ngx-parallax-scroll>
  <!-- <div class="row my-5 project-2">
    <div class="col">
      <h3 class="font-italic text-primary">Project Name:</h3>
      <hr class="bg-primary w-50">
    </div>
    <div class="col">
      <div class="green-box"></div>
    </div>
  </div>
  <div class="row my-5 project-3">
    <div class="col">
      <div class="green-box"></div>
    </div>

    <div class="col">
      <h3 class="font-italic text-primary">Project Name:</h3>
      <hr class="bg-primary w-50">
    </div>
  </div>
  <div class="row my-5 project-4">
    <div class="col">
      <h3 class="font-italic text-primary">Project Name:</h3>
      <hr class="bg-primary w-50">
    </div>
    <div class="col">
      <div class="green-box"></div>
    </div>
  </div> -->

</div>
