<div class="container bg-primary projects">
  <h1 class="text-center display-4 projects-title text-secondary" id="destination">Projects</h1>

  <div class="my-card-container">
    <ngx-parallax-scroll [config]="projectOneConfig" class="add-z-index">
      <div class="row project-1">
        <div class="card text-center mx-auto my-bg text-light">
          <div class="card-body">
            <img src="../../assets/projects/abblog.png" alt="" class="card-img-top mb-2">
            <h5 class="card-title">Ab Log</h5>
            <p>A Simple Django covering basics. <a href="https://github.com/SandyAbdullahi/django-blog"><span
                  class="text-info">GITHUB</span></a></p>
            <a name="" id="" class="btn btn-primary" href="https://boiling-sierra-29856.herokuapp.com/" role="button">To
              Project</a>
          </div>
        </div>
      </div>
    </ngx-parallax-scroll>


    <ngx-parallax-scroll [config]="projectTwoConfig" class="add-z-index">
      <div class="row project-2">
        <div class="card text-center mx-auto my-bg text-light">
          <div class="card-body">
            <img src="../../assets/projects/abtodo.png" alt="" class="card-img-top mb-2">
            <h5 class="card-title">Ab Todo</h5>
            <p>A Todo app made using django. <a href="https://github.com/SandyAbdullahi/django-todo"><span
                  class="text-info">GITHUB</span></a></p>
            <a name="" id="" class="btn btn-primary" href="https://radiant-meadow-08175.herokuapp.com/" role="button">To
              Project</a>
          </div>
        </div>
      </div>
    </ngx-parallax-scroll>
  </div>


</div>
