<div class="container bg-primary projects">
  <h1 class="text-center display-4 projects-title text-secondary" id="destination">PROJECTS</h1>

  <div class="my-card-container">
    <div class="row project-1 rellax" data-rellax-speed="7" data-rellax-xs-speed="0" data-rellax-mobile-speed="0"
      data-rellax-tablet-speed="4" data-rellax-desktop-speed="10" data-rellax-zindex="-1">
      <div class="card text-center mx-auto my-bg text-light">
        <div class="trigger-2"></div>
        <div class="trigger-3"></div>
        <div class="card-body">
          <img src="../../assets/projects/abblog.png" alt="" class="card-img-top mb-2">
          <h5 class="card-title">Ab Log</h5>
          <p>A Simple Django covering basics. <a href="https://github.com/SandyAbdullahi/django-blog"><span
                class="text-info">GITHUB</span></a></p>
          <a name="" id="" class="btn btn-primary" href="https://boiling-sierra-29856.herokuapp.com/" role="button">To
            Project</a>
        </div>
      </div>
    </div>




    <div class="row project-2 rellax" data-rellax-speed="7" data-rellax-xs-speed="0" data-rellax-mobile-speed="0"
      data-rellax-tablet-speed="6" data-rellax-desktop-speed="10" data-rellax-zindex="-1">
      <div class="card text-center mx-auto my-bg text-light">
        <div class="card-body">
          <img src="../../assets/projects/abtodo.png" alt="" class="card-img-top mb-2">
          <h5 class="card-title">Ab Todo</h5>
          <p>A Todo app made using django. <a href="https://github.com/SandyAbdullahi/django-todo"><span
                class="text-info">GITHUB</span></a></p>
          <a name="" id="" class="btn btn-primary" href="https://radiant-meadow-08175.herokuapp.com/" role="button">To
            Project</a>
        </div>
      </div>
    </div>


    <div class="row project-3 rellax" data-rellax-speed="7" data-rellax-xs-speed="0" data-rellax-mobile-speed="0"
      data-rellax-tablet-speed="4" data-rellax-desktop-speed="10" data-rellax-zindex="-1">
      <div class="card text-center mx-auto my-bg text-light">
        <div class="trigger-2"></div>
        <div class="trigger-3"></div>
        <div class="card-body">
          <img src="../../assets/projects/yare.png" alt="" class="card-img-top mb-2">
          <h5 class="card-title">Yare Centre Ltd</h5>
          <p>A site made using Angular for Yare Centre LTD</p>
          <a name="" id="" class="btn btn-primary" href="http://yarebusinesspark.000webhostapp.com/home"
            role="button">To
            Project</a>
        </div>
      </div>
    </div>

  </div>


</div>
