@import '../styles.scss';

.work-status {
  margin-top: 15rem;
  margin-bottom: -30rem;
  border: 5px solid $aqua-green;
  padding: 1rem;
  position: relative;

}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .work-status {
    border-bottom: 5px solid $aqua-green;
    margin-bottom: -34rem;
  }
}

@media (min-width: 1000px),
(min-height: 1366px) {

  .work-status {
    border-bottom: 5px solid $aqua-green;
    margin-bottom: -30rem;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .work-status {
    margin-bottom: -25rem;
  }
}
