.email {


  padding: 6rem;
  color: #fff;




}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  #Email {
    margin: auto auto;
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #Email {
    margin: auto auto;
    width: 50%;
  }
}


// Large devices (desktops, 100px and up)
@media (min-width: 1000px) {

  #Email {
    margin: auto auto;
    width: 50%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #Email {
    margin: auto auto;
    width: 50%;
  }

  .email {
    h3 {
      font-size: 4rem;
    }
  }
}
