/* You can add global styles to this file, and also import other style files */
// Custom.scss
// my-colors
$slate-gray:#615756;
$aqua-green: #52FFB8;



$theme-colors: ("primary": $slate-gray, "secondary": $aqua-green);








// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');




* {
  font-family: 'Work Sans', sans-serif;
}
